# **Preguntas de análisis**

1. ¿Cuál es la distribución temporal de los lanzamientos de misiones espaciales a lo largo de los años?

Esta pregunta te ayudará a comprender la evolución de las misiones espaciales con el tiempo y si ha habido algún patrón o tendencia en el número de lanzamientos.

2. ¿Cuál es la distribución de los lanzamientos por organización?

Esta pregunta te permitirá entender qué organizaciones han sido las más activas en lanzamientos de misiones espaciales y cómo se comparan entre sí.

3. ¿Cuál es la ubicación geográfica más común para los lanzamientos de misiones espaciales?

Investigar la distribución geográfica de los lanzamientos puede revelar patrones de preferencia por ciertos lugares para realizar misiones espaciales.

4. ¿Existe alguna correlación entre el estado del cohete y el éxito de la misión?

Analizar si existe una relación entre el estado del cohete en el momento del lanzamiento y el éxito o fracaso de la misión puede proporcionar información importante sobre la confiabilidad de los sistemas de lanzamiento.

5. ¿Cómo varía el precio de las misiones espaciales a lo largo del tiempo?

Este análisis puede arrojar luz sobre las tendencias de costos en el ámbito de las misiones espaciales y si ha habido cambios significativos en el precio de lanzamiento con el tiempo.

6. ¿Cuál es la proporción de misiones exitosas respecto al total de misiones lanzadas?

Este análisis te permitirá evaluar la tasa de éxito general de las misiones espaciales en tu dataset y si hay factores comunes asociados con el éxito o el fracaso.


# **Preguntas de probabilidad para analizar el dataset:**

1. ¿Cuál es la probabilidad de que una misión espacial sea exitosa dado el estado del cohete?

Puedes calcular la proporción de misiones exitosas para cada estado del cohete (por ejemplo, en buen estado, dañado, etc.).

2. ¿Cuál es la probabilidad de que una misión espacial sea exitosa para cada organización?

Calcula la probabilidad de éxito de las misiones para cada organización que haya lanzado cohetes.

3. ¿Cuál es la probabilidad de que una misión espacial tenga un precio superior a cierto umbral dado el estado del cohete?

Puedes calcular la probabilidad de que el precio de una misión supere cierto límite condicionado al estado del cohete.

4. ¿Cuál es la probabilidad de que una misión espacial sea lanzada desde una ubicación específica dado el éxito de la misión?

Analiza la probabilidad de que una misión sea lanzada desde una ubicación determinada, dada su exitosidad.

5. ¿Cuál es la probabilidad de que una misión espacial sea exitosa en un año determinado?

Calcula la probabilidad de éxito de las misiones en un año específico en comparación con otros años.

6. ¿Cuál es la probabilidad de que una misión espacial tenga un precio dentro de cierto rango dado el éxito de la misión?

Analiza la probabilidad de que el precio de una misión esté dentro de cierto rango, condicionado a si la misión fue exitosa o no.

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df_mission_launches = pd.read_csv('mission_launches.csv')

In [3]:
df_mission_launches.head()

,Unnamed: 0.1,Unnamed: 0,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success

In [4]:
df_mission_launches.shape

(4324, 9)

In [5]:
df_mission_launches.dtypes

Unnamed: 0.1       int64
Unnamed: 0         int64
Organisation      object
Location          object
Date              object
Detail            object
Rocket_Status     object
Price             object
Mission_Status    object
dtype: object

In [6]:
df_mission_launches.isnull().sum()

Unnamed: 0.1         0
Unnamed: 0           0
Organisation         0
Location             0
Date                 0
Detail               0
Rocket_Status        0
Price             3360
Mission_Status       0
dtype: int64

In [7]:
df_mission_launches.duplicated().value_counts()

False    4324
dtype: int64

In [8]:
df_mission_launches[df_mission_launches['Price'].isnull()]

,Unnamed: 0.1,Unnamed: 0,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
7,7,7,CASC,"LC-101, Wenchang Satellite Launch Center, China","Thu Jul 23, 2020 04:41 UTC",Long March 5 | Tianwen-1,StatusActive,NaN,Success
13,13,13,IAI,"Pad 1, Palmachim Airbase, Israel","Mon Jul 06, 2020 01:00 UTC",Shavit-2 | Ofek-16,StatusActive,NaN,Success
28,28,28,VKS RF,"Site 43/4, Plesetsk Cosmodrome, Russia","Fri May 22, 2020 07:31 UTC",Soyuz 2.1b/Fregat-M | Cosmos 2546,StatusActive,NaN,Success
31,31,31,ExPace,"Site 95, Jiuquan Satellite Launch Center, China","Tue May 12, 2020 01:16 UTC",Kuaizhou 1A | Xingyun-2 01 (Wuhan) & 02,StatusActive,NaN,Success
...,...,...,...,...,...,...,...,...,...
4319,4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,4320,4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
4321,4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,4322,4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,4323,4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In [9]:
df_mission_launches['Price'] = df_mission_launches['Price'].fillna('0')

In [10]:
df_mission_launches['Price'].isnull().sum()

0

In [11]:
df_mission_launches['Price'].value_counts().sum()

4324

In [12]:
df_mission_launches['Price'].unique()

array(['50.0', '29.75', '0', '65.0', '145.0', '64.68', '48.5', '90.0',
       '46.0', '28.3', '29.15', '7.5', '30.8', '5.3', '12.0', '112.5',
       '120.0', '153.0', '200.0', '85.0', '115.0', '41.8', '21.0', '31.0',
       '40.0', '164.0', '62.0', '37.0', '350.0', '39.0', '47.0', '35.0',
       '69.7', '109.0', '45.0', '123.0', '130.0', '25.0', '56.5', '15.0',
       '29.0', '80.0', '140.0', '55.0', '59.5', '450.0', '7.0', '20.14',
       '133.0', '190.0', '135.0', '20.0', '136.6', '5,000.0', '1,160.0',
       '59.0', '63.23'], dtype=object)

In [13]:
df_mission_launches['Price'] = [float(x.replace(',', '')) for x in df_mission_launches['Price']]

In [14]:
df_mission_launches['Price'].unique()

array([  50.  ,   29.75,    0.  ,   65.  ,  145.  ,   64.68,   48.5 ,
         90.  ,   46.  ,   28.3 ,   29.15,    7.5 ,   30.8 ,    5.3 ,
         12.  ,  112.5 ,  120.  ,  153.  ,  200.  ,   85.  ,  115.  ,
         41.8 ,   21.  ,   31.  ,   40.  ,  164.  ,   62.  ,   37.  ,
        350.  ,   39.  ,   47.  ,   35.  ,   69.7 ,  109.  ,   45.  ,
        123.  ,  130.  ,   25.  ,   56.5 ,   15.  ,   29.  ,   80.  ,
        140.  ,   55.  ,   59.5 ,  450.  ,    7.  ,   20.14,  133.  ,
        190.  ,  135.  ,   20.  ,  136.6 , 5000.  , 1160.  ,   59.  ,
         63.23])

In [15]:
df_mission_launches['Price'] = df_mission_launches['Price'].round(2)

In [16]:
df_mission_launches['Date'].unique()

array(['Fri Aug 07, 2020 05:12 UTC', 'Thu Aug 06, 2020 04:01 UTC',
       'Tue Aug 04, 2020 23:57 UTC', ..., 'Fri Dec 06, 1957 16:44 UTC',
       'Sun Nov 03, 1957 02:30 UTC', 'Fri Oct 04, 1957 19:28 UTC'],
      dtype=object)

In [17]:
df_mission_launches['Date'] = pd.to_datetime(df_mission_launches['Date'])

In [18]:
df_mission_launches['Date'] = df_mission_launches['Date'].astype(str)

In [19]:
df_mission_launches[['Fecha', 'Hora']] = df_mission_launches['Date'].str.split(' ', 1, expand=True)

In [20]:
df_mission_launches['Date'] = df_mission_launches['Fecha']

In [21]:
df_mission_launches = df_mission_launches.drop(['Fecha', 'Hora'], axis=1)

# 1. ¿Cuál es la distribución temporal de los lanzamientos de misiones espaciales a lo largo de los años?

In [22]:
df_mission_launches.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Organisation', 'Location', 'Date',
       'Detail', 'Rocket_Status', 'Price', 'Mission_Status'],
      dtype='object')